.tool-select-query {
  background-color: #ffffff;
  border-radius: 23px;
  height: 46px;
  position: relative;
  width: 46px;
}

.tool-select-query .vector {
  height: 22px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 16px;
}
