.frame-map {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame-map .div-2 {
  background-color: #ffffff;
  height: 480px;
  overflow: hidden;
  position: relative;
  width: 853px;
}

.frame-map .canvas {
  background-color: #d1d1d0;
  height: 1080px;
  left: -489px;
  position: absolute;
  top: -266px;
  width: 1960px;
}

.frame-map .instructions {
  height: 113px;
  left: 557px;
  position: absolute;
  top: 627px;
  width: 587px;
}

.frame-map .overlap-group-6 {
  background-color: #f9ff00;
  border-radius: 13px;
  height: 113px;
  position: relative;
  width: 585px;
}

.frame-map .welcome-to-the {
  color: #212121;
  font-family: "Gelion-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 564px;
}

.frame-map .image {
  height: 24px;
  left: 255px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 24px;
}

.frame-map .marker-m-circle-instance {
  left: 852px !important;
  position: absolute !important;
  top: 492px !important;
}

.frame-map .marker-9m-circle-90px-instance {
  background-color: var(--special-yellow) !important;
}

.frame-map .marker-circle-2 {
  height: 36px !important;
  left: 19px !important;
  top: 26px !important;
  white-space: unset !important;
}

.frame-map .marker-circle-3 {
  left: 36px !important;
}

.frame-map .marker-stack {
  left: 736px !important;
  position: absolute !important;
  top: 411px !important;
}

.frame-map .design-component-instance-node-2 {
  left: 37px !important;
}

.frame-map .design-component-instance-node-3 {
  left: 27px !important;
}

.frame-map .marker-stack-instance {
  left: 26px !important;
}

.frame-map .marker-circle-4 {
  left: 606px !important;
  position: absolute !important;
  top: 486px !important;
}

.frame-map .marker-circle-5 {
  background-color: var(--superheavy-red) !important;
}

.frame-map .marker-circle-6 {
  left: 890px !important;
  position: absolute !important;
  top: 315px !important;
}

.frame-map .marker-circle-7 {
  background-color: var(--ship-blue) !important;
}

.frame-map .marker-circle-8 {
  height: 36px !important;
  left: 23px !important;
  top: 26px !important;
  white-space: unset !important;
}

.frame-map .marker-circle-9 {
  left: 583px !important;
  position: absolute !important;
  top: 288px !important;
}

.frame-map .marker-circle-10 {
  left: 35px !important;
}

.frame-map .marker-circle-11 {
  left: 38px !important;
}

.frame-map .toolbar {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
  height: 146px;
  left: 12px;
  position: fixed;
  top: 12px;
  width: 50px;
}

.frame-map .tool-select-query-instance {
  left: 2px !important;
  position: absolute !important;
  top: 50px !important;
}

.frame-map .tool-select-query-2 {
  height: 25px !important;
  top: 11px !important;
  width: 18px !important;
}

.frame-map .tool-add-record-instance {
  left: 2px !important;
  position: absolute !important;
  top: 98px !important;
}

.frame-map .tool-pan-zoom {
  background-color: #ffffff;
  border-radius: 23px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 46px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 46px;
}

.frame-map .vector-2 {
  height: 26px;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 22px;
}

.frame-map .timebar {
  background-color: #ffffff;
  border-radius: 17px;
  height: 30px;
  left: 241px;
  position: fixed;
  top: 12px;
  width: 371px;
}

.frame-map .text-wrapper-11 {
  color: #000000;
  font-family: "Gelion-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 77px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
}

.frame-map .time-button-2 {
  left: 5px !important;
  position: absolute !important;
  top: 5px !important;
}

.frame-map .time-button-3 {
  left: 300px !important;
  position: absolute !important;
  top: 5px !important;
}

.frame-map .time-button-4 {
  left: 28px !important;
  position: absolute !important;
  top: 5px !important;
}

.frame-map .time-button-5 {
  left: 323px !important;
  position: absolute !important;
  top: 5px !important;
}

.frame-map .time-button-6 {
  left: 51px !important;
  position: absolute !important;
  top: 5px !important;
}

.frame-map .time-button-7 {
  left: 346px !important;
  position: absolute !important;
  top: 5px !important;
}

.frame-map .text-wrapper-12 {
  color: #212121;
  font-family: "Gelion-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 719px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: right;
  top: 11px;
  width: 117px;
}
